button {
  font-size: 1rem;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  border-color: var(--button-border-color);
  border-radius: 6px;
  padding: 3px 16px;
  cursor: pointer;
}

[role=button] {
  user-select: none;
}
