// color-variables
$red:     #F44336 !default;
$green:   #00C853 !default;
$blue:    #2196F3 !default;
$white:   #FFFFFF !default;
$black:   #24292f !default;


// colors-map
$colors: (
    "red":    $red,
    "green":  $green,
    "blue":   $blue,
    "white":  $white,
    "black":  $black,
) !default;

@each $name, $value in $colors {
    .text-#{$name} {
        color: #{$value};
    }
}

@each $name, $value in $colors {
    .bg-#{$name} {
      background-color: #{$value};
    }
}

@each $name, $value in $colors {
    .border-#{$name} {
      border-color: #{$value};
    }
}