:root {
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --body-bg: white;
    --body-color: #24292f;
    --link-color: #0969da;
     
    --button-text-color: #24292f;
    --button-bg-color: #f6f8fa;
    --button-bg-color-hover: rgba(217, 231, 248, 0.5);
    --button-border-color: rgba(27,31,36,0.15);
    --button-border-color-hover: #99bce8;
}